@import "../styles/mixins.scss";
@import "../styles/colors.scss";
@import "../styles/globals.scss";

.arabuluculukStyle {
  background-color: white;
  padding: 30px;
  @include tablet-or-less {
    padding: 10px;
  }
  
  
}