@import "../styles/mixins.scss";
@import "../styles/colors.scss";
@import "../styles/globals.scss";

.footerStyle {
  background-color: $white-hover !important;

  .footerContentStyle {
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;

    @include tablet-or-less {
      padding: 10px;
    }
  }
  @include desktop {
    :global {
      .MuiGrid-container {
        flex-wrap: nowrap;
      }
    }
  }
}
