@import "../styles/mixins.scss";
@import "../styles/colors.scss";
@import "../styles/globals.scss";

.header {
  background-color: white;
  align-items: center;

  @include tablet-or-less {
    align-items: flex-start;
    width: 100%;
    display: inline-grid;
  }
}