$primary: #E0E0E0;
$main: #f43855;
$font: #04111d;
$green: #27ae60;
$blue: #0652dd;
$purple: #941e67;
$white-hover: hsl(0, 0%, 95%);

$bg-orange: hsl(41, 94%, 94%);
$bg-hover-orange: hsl(41, 94%, 89%);
$text-orange: #dd6c06;
$text-hover-orange: #dd883d;

$bg-pink: #fdecff;
$bg-purple: hsl(257, 94%, 94%);
$bg-hover-purple: hsl(257, 94%, 89%);
$text-purple: #6b06dd;
$text-hover-purple: #802fdd;

$bg-blue: hsl(219, 94%, 94%);
$bg-hover-blue: hsl(219, 94%, 89%);
$text-blue: #0652dd;
$text-hover-blue: #2d69da;

$bg-gray: hsl(210, 13%, 91%);
$bg-hover-gray: hsl(210, 13%, 86%);
$text-gray: #04111d;
$text-hover-gray: #374553;

$bg-red: hsl(0, 94%, 94%);
$bg-hover-red: hsl(0, 94%, 89%);
$text-red: #dd0606;
$text-hover-red: #dd060646;
