@import "./colors.scss";
@import "./mixins.scss";

.logoStyle{
  color: $main;
  font-family: "Comic Sans";
}

.titleStyle{
  color: $font-title;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}



